.form-group{
    margin: 15px;
}
label{
    display: inline-block;
    width: 100px;
}
.form-control{
    border-radius: 5px ;
}
.success-text{
    color: green;
}
.danger-text{
    color:red;
}
.hidden-text{
    display: none;
}